<div class="header">
    <div class="container">
      <h1>Thanks.</h1>
      <p>We'll keep you posted.</p>
      <div class="returns">
      <a href="root_path" class="btn">Return</a>
      </div>
    </div>
  </div>